 html{
    background-color: rgb(28, 50, 37);
 }
 .container-fluid{
    background-color: rgb(28, 50, 30);
 }
  input[type="text"]{
   background: rgb(87, 84, 84);
   color: white;
  }
  input[type="text"]:focus{
    background-color: aliceblue;
    color: #000000;
  }